mat-card {
  margin: 2rem;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

#consumerForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.buttons-bar {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}
